# README
# ======

# About file
# ----------
# This *.env file contains environment variables for integration tests. You
# should modify it if you wish to run tests.

# About networks
# --------------
# All data in the file is related to specific network deploy:
# For Bitcoin it is 'testnet'
# For Ethereum it is 'rinkeby'

# PRIVATE
# =======

# About sections
# --------------
# Most of the functional tests in this repo is the integration tests with
# cryptocurrency node as the external dependency. You should replace this
# section values on related to your own cryptocurrency wallet.

# In-wallet addresses
# -------------------
# Test transactions will be send on in-wallet addresses below
# that allow to reduce testing cost.

BITCOIN_CORE_IN_WALLET_ADDRESS=2NAmne8BsSXWbV5iStkVzL4vW7Z4F6a5o68
GETH_IN_WALLET_ADDRESS=0xb610de1be67b10c746afec8fe74ad14d97e34146

# Geth specific

GETH_SEND_FROM_ADDRESS=0xe1082e71f1ced0efb0952edd23595e4f76840128


# PUBLIC
# =======

# About sections
# --------------
# This section contains data that required for tests that only read the
# blockchain. If you use default networks (see 'About networks' of README
# section above) you can leave it unchanged.

# Rundom txids
# ------------
# Transactions with following txids will just fetched from blockchain.

BITCOIN_RANDOM_TXID=96cb5ca7e61857520539fa6b61af6cf629d21518dbb858c4ffb385e67ae04a92
ETHEREUM_RANDOM_TXID=0x762b0df14802921a650f8d3a68e1293bb7faf870c03f826e28a7e0f97be28a1b
